.monitoredPlace{
    width: 100%;
    font-family: Roboto, Arial, sans-serif;
}
.monitored-container{
    padding: 5rem 7rem;
}
.monitored-container h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.monitored-container .monitor-cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 2.5rem 0;
}
.monitored-container .monitor-cards > .card-container{
    width: 160px;
    height: 200px;
    text-wrap:wrap;
    padding: 1rem;
    box-shadow: 1px 1px 10px rgb(214, 213, 213);
    border: none;
}
.card-container a{
    text-decoration: none;
}
.card-container a h3{
    color: black;
    font-size: 22px;
}
.card-container a span{
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}
.monitor-content h2{
    text-align: start;
}
hr{
    position: relative;
}
.card-container-card2{
    width: 125px;
    height: 200px;
    text-wrap:wrap;
    padding: 1rem;
    box-shadow: 1px 1px 10px rgb(214, 213, 213);
    border: none;
}
.card-container-card6{
    width: 150px;
    height: 200px;
    text-wrap:wrap;
    padding: 1rem;
    box-shadow: 1px 1px 10px rgb(214, 213, 213);
    border: none;
}
.monitored-container.animate__animated.animate__fadeInUp {
    animation-duration: 1s;
  }